.MenuCabecera{
    background-color: #a4cdd7 ;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.banner{
    background-color: #1d70b8;
    width: 100%;
    height: 120px;
    background-image:url("../imagenes/colaborativo.png");
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}



.CajaColumnas{
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10px;
}
.Columnas{
    flex: 1;
    background-color: rgb(0, 162, 255);
    border: 1px;
    text-align: center;
}
.colorverde{
    background-color: green;
}
.colornaranja{
    background-color: orange;
}
.colorturquesa{
    background-color: turquoise;
}
.random{
    background-color: aqua;
    width: 100%;
    height: 120px;
}
.MenuSuperior li {
    display: inline;
    padding: 2px;
    border-right: solid 2px rgb(24, 38, 231);
}
.MenuSuperior {
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    padding: 15px;
}
.MenuSuperior a:hover{
    color: #e2430c;
    text-decoration: underline;
}
.li a{
    text-decoration: none;
}
.MenuSuperior li :last-child{
    border-right: none;
    
}
.MenuSuperior{
    padding: 20px;
}
.CajaColumnas img{
    width: 100%;
    height: 300px;
}
formulario{
    width: 80%;
    margin: auto;
}
form{
    padding: 15px;
}
imput{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
textarea{
    width: 100%;
}
